.button {
  width: 150px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px 10px;
  border: 2px solid #f0bc7b;
  color: #f0bc7b;
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  margin: 15px auto 0;
  &:hover {
    background: #f0bc7b;
    color: #fff;
  }
}
