.containerFeature {
  text-align: center;
  width: 200px;
  justify-self: center;
  margin: 20px 0;
  @media (max-width: 800px) {
    margin: 40px 0;
  }
  .title {
    margin: 50px 0 10px;
    font-family: "Amatic SC";
    font-weight: 700;
    font-size: 20px;
  }

  .description {
    font-size: 15px;
    line-height: 1.6em;
    color: #666;
  }
  .containerIcon {
    height: 40%;
    width: 40%;
    background-color: #f0bc7b;
    border-radius: 60%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
